*{
    margin: 0;
}
body{
    background-image: url("Robtop.jpg");
    background-size: cover;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Alexandria', sans-serif;
    margin: 15px;
}
nav{
    background-color: rgba(0, 0, 0, 0.281);
    text-align: center;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 40px;
    display: inline-block;
    padding: 0 100px;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 0.3s;
}
nav a:hover{
    background-color: rgba(255, 255, 255, 0.322);
}
h2{
    font-family: 'Alexandria', sans-serif;
    color: rgb(255, 255, 255);
    margin: 50px;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 10px black;
}
.banner p{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 0, 0);
    margin: 50px;
    text-align: right;
    font-size: 20px;
    background-image: linear-gradient(to right, transparent,rgb(255, 255, 255));
    width: 60%;
    padding: 30px;
    border-radius: 15px;
    display: inline-block;
    
}
.banner{
    background-image: url("img.jpg");
    overflow: hidden;
    text-align: right;
}
#hochuimogu{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Alexandria', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 15px white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
}
#downloadCont{
    text-align: center;
    margin-bottom: 50px;
}
#hochuimogu:hover{
    background-color: rgba(0, 0, 0, 0.671);
}
.ameba{
    background-image: url("11331.jpg");
    overflow: hidden;
    text-align: center;
}
.info{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 111111111px 111111111px 111111111px 111111111px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.301);
    border: 2px solid black;
    margin-right: 100px;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.ameba img{
    width: 40%;
    vertical-align: middle;
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 15px;
}
.info h3{
    font-family: 'Alexandria', sans-serif;
}
.country:nth-of-type(1)
{
    background-image: url("РАША ААААААА.jpg");
    
}
.country:nth-of-type(2)
{
    background-image: url("nihon.jpg");
}
.country:nth-of-type(3)
{
    background-image: url("china-flag_enl.jpg");
}
.country{
    width: 28%;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.404);
    background-size: cover;
    background-position: center;
}
.factory{
    text-align: center;
    font-family: 'Alexandria', sans-serif;
    color: rgb(255, 255, 255);
}
.country ul{
    background-color: rgba(255, 255, 255, 0.616);
    list-style: none;
    font-family: 'Noto Serif TC','Alexandria','Roboto Condensed', serif;
    color: black;
}
.country a{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: inline-block;
    margin: 30px;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #222;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 0.3s;
    box-shadow: 12px 12px 29px black;
}
.country a:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.member{
    height: 200px;
    width: 200px;
    display: inline;
    border-radius: 11111111111111px;
    object-fit: cover;
}
.team1{
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.445);
    display: inline-block;
    width: 27%;
    margin: 10px;
    height: 50%;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    /* для того чтобы пэддинг не делал больше карточку */
    box-sizing: border-box;
}
.team1 a{
    color: rgb(155, 151, 151);
    text-decoration: none;
    font-size: 22px;
    border: 1px solid rgba(255, 255, 255, 0.356);
    transition: 0.3s;
    line-height: 40px;
    display: inline-block;
    padding: 0 20px;
}
.team{
    text-align: center;
}
.team1 p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.team1 a:hover{
    border: 1px solid white;
}
.feedback p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
input{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    height: 40px;
    width: 400px;
    border-radius: 8px;
    padding: 0 5px;
}
.feedback{
    text-align: center;
    margin-bottom: 100px;
}
textarea{
    width: 400px;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 5px;
}
button{
    display: block;
    margin: auto;
    height: 40px;
    border-radius: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    border: none ;
    box-shadow: 2px 1px 22px white;
}
button:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
html{
    scroll-behavior: smooth;
}
@media (max-width: 600px) {
    .country{
        width:90%;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    h2{
        font-size: 30px;
    }
    .team1{
        width: 90% ;
    }
    textarea{
        width:90%;
    }
    input{
        width:90%;
    }
    .info{
        margin: auto;
        width: 90%;
    }
    .ameba img{
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}